@page "/países/crear"
@inject NavigationManager navigationManager
@inject IHttpService http

<h3 style="margin-bottom: 32px;">Crear "País"</h3>

<PaísFormulario onValidSubmit="PaísAñadir" País="país" OnCancel="PaísCancelar"/>

@code {
    private País país = new();

    private async Task PaísAñadir()
    {
        var httpRespuesta = await http.Post<País>("api/países", país);

        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }

        navigationManager.NavigateTo("/países");
    }

    private void PaísCancelar()
    {
        navigationManager.NavigateTo("/países");
    }
}
