@page "/países/editar/{PaísID:int}"
@inject NavigationManager navigationManager
@inject IHttpService http

<h3 style="margin-bottom: 32px;">Editar país</h3>

<PaísFormulario onValidSubmit="PaísModificar" País="país" OnCancel="PaísCancelar" />

@code {
    private País país;
    [Parameter] public int PaísID { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await MostrarPaís();
    }

    private async Task MostrarPaís()
    {
        var httpRespuesta = await http.Get<País>($"api/países/{PaísID}");

        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }

        else
        {
            país = httpRespuesta.Respuesta;
        }
    }

    private async Task PaísModificar()
    {
        var httpRespuesta = await http.Put<País>($"api/países/{PaísID}", país);

        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }

        navigationManager.NavigateTo("/países");
    }

    private void PaísCancelar()
    {
        navigationManager.NavigateTo("/países");
    }
}
